{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false
            }
        ],
        "@babel/react"
    ],
    "plugins": [
        "transform-class-properties"
    ],
    "env": {
        "cjs": {
            "plugins": [
                "transform-es2015-modules-commonjs"
            ]
        },
        "test": {
            "plugins": [
                "transform-es2015-modules-commonjs",
                "istanbul"
            ]
        }
    }
}
